body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 100px;
    margin: 0px;
}

.content-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

#grid-container {
    border: 1px solid grey;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.square {
    flex-grow: 1;
    flex-basis: 25%;
    background-color: white;
}

button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}